<h1>Editing beer item</h1>

<%= render "form", beer_item: @beer_item %>

<br>

<div>
  <%= link_to "Show this beer item", @beer_item %> |
  <%= link_to "Back to beer items", beer_items_path %>
</div>
