
<h1>beered.co.jp</h1>

<div id="beers">
  <% @beers.each do |beer| %>
    <%= render beer %>
    </div>
    <p>
    <%= link_to "Show beer", beer %>
    <div id="newBeerButton">
    <%= link_to "Add beer", new_beer_path %>
    </div>
    </p>
  <% end %>
