/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 *{
    margin:0%;
    text-align: center;
 }
body{
    background-color:  bisque
}

h1{
    text-align: center;
    background-color: #eb9f05;
    color:black
}

.main{
    
    border-radius: 20px;
    box-shadow: 1px 1px 1px 1px rgb(0 35 35 / 35%);
    display: flex;
    justify-content: space-evenly;
    margin: 50px auto 20px;
    text-align: center;
    width: 400px;
    background-color: #eb9f05;
}

a{
    margin-bottom: 10px;  
    margin-top: 100px;
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 2px 6px 2px 6px;
    border-radius: 10px;
    text-align: center; 
}

.newBeer{
    margin-top: 10px;
}

#newBeerButton{
    margin-bottom: 100px;
    text-align: center
}

h4{
    background-color: #fdeec1;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 40px;
    width: 400px;
    margin-top: -20px;
}

.form{
    margin-top: 10px;
}

#addButton{
    margin-top: 10px;
    color: white;
}

.cup-pint{
border-left:1rem solid black; ;
border-radius: 0.3rem 0.3rem 2rem 2rem;
border-left: 1rem solid transparent;
border-right: 1rem solid transparent;
border-top: 7rem solid rgba(246, 183, 7, 0.5);
}

.cup-pint1{

 margin-left: 9px;
border-radius: 0.3rem 0.3rem 1rem 5rem;
border-top:1rem solid white; 
animation: filling 10s ease-in-out infinite;
border-right: 0.05rem solid transparent;
border-left: 0.05rem solid transparent;
background:transparent;
width: 4rem; 
 }
 
